# Generated Node.js Dockerfile
# Base Image: node:{{ image_tag }}

FROM node:{{ image_tag }}

# TODO: Set appropriate working directory
WORKDIR /app

# TODO: Copy package files
# COPY package*.json ./

# TODO: Install dependencies
# RUN npm install

# TODO: Copy your application code
# COPY . .

# TODO: Add any build steps if needed
# RUN npm run build

# TODO: Specify the command to run your application
# ENTRYPOINT ["node", "index.js"]