# Generated Python Dockerfile
# Base Image: python:{{ image_tag }}

FROM python:{{ image_tag }}

# TODO: Set appropriate working directory
WORKDIR /app

# TODO: Copy your requirements file
# COPY requirements.txt .

# TODO: Install dependencies
# RUN pip install --no-cache-dir -r requirements.txt

# TODO: Copy your application code
# COPY . .

# TODO: Add any additional setup commands here
# RUN ...

# TODO: Specify the command to run your application
# ENTRYPOINT ["python", "app.py"]